@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  background: #FFF;
}

/* Keep your other styles */





.navbar {
  display: flex;
  width: 100%;
  padding: 12px 48px;
  align-items: center;
  gap: 48px;
  background: var(--BG_color1, #FFF);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
  position: relative;
}

#insideNavbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  width: auto;
  /* Reset width */
  height: auto;
  /* Reset height */
  background: transparent;
  /* Make background transparent */
}

.leftsideofbelowcontainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.leftsideofnav1 {
  display: flex;
  width: 420px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

#leftsideofthenavbar {
  display: flex;
  align-items: center;
  gap: 48px;
  width: auto;
  /* Reset width */
  height: auto;
  /* Reset height */
  background: transparent;
  /* Make background transparent */
}

#container1 {
  display: flex;
  /* align-items: center; */
  gap: 8px;
  width: auto;
  /* Reset width */
  height: auto;
  /* Reset height */
  background: transparent;
  /* Make background transparent */
  cursor: pointer;
  /* Added cursor style here */
}

#logo1 {
  width: 37px;
  height: 41px;
  position: relative;
  top: 9px;
  background: transparent;
  /* Make background transparent */
}

#container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 9px;
  gap: 2px;
}

#frame1 {
  display: flex;
  align-items: flex-start;
  gap: 6.008px;
  align-self: stretch;
}

#heading1 {
  color: #C49339;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

#container3 {
  display: flex;
  width: 420px;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  color: var(--Primarycolor, #282828);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-list:hover {
  cursor: pointer;
}

.calculatoricon {
  width: 16px;
  height: 16px;
}

.dropdownimage {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.nav-item-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}


.navbar-lists {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
}

.navbar-lists:hover {
  cursor: pointer;
}

/* Create path for mouse to reach dropdown */
.navbar-lists::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 15px;
  background: transparent;
}

.dropdown-menu {
  display: none;
  /* Initially hidden */
  position: absolute;
  top: calc(100% + 15px);
  /* Position after the ::after bridge */
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background-color: #282828;
  border-radius: 8px;
  padding: 16px;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transform: translateX(-50%) translateY(-10px);
  pointer-events: none;
}

/* Show dropdown when hovering nav item */
.navbar-lists:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

/* Create visible connection between navbar item and dropdown */
.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #282828;
}

/* Style the dropdown items */
.dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.dropdown-menu-item:hover {
  color: #AD8E53;
  background-color: rgba(173, 142, 83, 0.1);
  cursor: pointer;
}

.dropdown-menu-title {
  color: #AD8E53;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(173, 142, 83, 0.2);
}

#rightsideofthenavbar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Navbarbuttons {
  display: flex;
  width: 200px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--SecondaryColor, #AD8E53);
  color: var(--Primary-Text, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.parallax-section {
  background-image: url('/your-image.jpg');
  /* image path */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 80px;
  /* full screen height */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
  font-size: 2rem;
}

.parallaxContainer1 {
  display: flex;
  padding: 72px 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 48px;
  align-self: stretch;
}

.insideparallaxContainer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#text2insideparallaxContainer1 {
  color: #000;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  /* 128.571% */
  letter-spacing: -0.25px;
  align-self: stretch;
}


#text3insideparallaxContainer1 {
  align-self: stretch;
  color: var(--Color, #666);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.rightsideofparallaxContainer1 {
  width: 608px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 345px;
}

#whyustext {
  color: var(--BG_color, #282828);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: var(--Display-Large-Tracking, -0.25px);
}

.leftsideofparallaxContainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

/* #button1 {} */

#button2 {
  color: var(--Primary-Text, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Navbarbuttonsblack {
  display: flex;
  width: 128px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primarycolor, #282828);
}

#mainframe1 {
  display: flex;
  width: 86vw;
  padding: 32px 100px;
  align-items: center;
  gap: 300px;
}

#leftframe {
  display: flex;
  width: 572px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  flex-shrink: 0;
}

#header1 {
  color: #282828;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  /* 133.333% */
}

#insideleftframe1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

#contentinsideleftframe1 {
  color: var(--SecondaryColor, #AD8E53);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.goldenbutton {
  display: flex;
  width: 180px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--SecondaryColor, #AD8E53);
  color: var(--BG_color1, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

#rightframe {
  height: 580px;
  flex: 1 0 0;
}

#mainframe2 {
  display: none;
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 5vw;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.blackcards {
  display: flex;
  padding: 48px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex: 1 0 40%;
  min-width: 300px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--BG_color, #282828);
  margin-bottom: 20px;
}

.insideblackcardframe1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  width: 100%;
}

.imageframeforblackcard {
  height: 200px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  width: 100%;
}

.insideimageframeforblackcard {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.polygonimage {
  width: 183px;
  height: 183px;
  flex-shrink: 0;
  position: absolute;
}

.cashimage {
  position: absolute;
  z-index: 1;
  /* Adjust the size of the cash image as needed */
  width: 113px;
  height: 82px;
  flex-shrink: 0;
}

.contentframeforblackcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.insidecontentframeforblackcard1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.insidecontainerofnav1 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
}

#contentinsideblackcard1 {
  color: var(--SecondaryColor, #AD8E53);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: var(--Display-Large-Tracking, -0.25px);
  text-transform: uppercase;
}

.contentinsideblackcard2 {
  align-self: stretch;
  color: var(--Primary-Text, #FFF);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.25px;
}

.insidecontentframeforblackcard3 {
  color: var(--Text_secondary, #B7B7B7);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  flex: 1 0 0;
}

#downframeforblackcard {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.contentinsidedownframe1 {
  color: var(--Text_secondary, #B7B7B7);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.div {
  flex: 1 0 0;
}

.contentinsidedownframe2 {
  color: var(--Text_secondary, #B7B7B7);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

#mainframe3 {
  display: flex;
  padding: 72px 5vw;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.iconbuttons {
  width: 48px;
  height: 48px;
  fill: #FCF5E8;
}

#middleframe1 {
  display: flex;
  width: 1068px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

#topframe {
  display: flex;
  width: 636px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#contentinsidetopframe {
  align-self: stretch;
  color: var(--BG_color, #282828);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: var(--Display-Large-Tracking, -0.25px);
}

#buttonsinsidetopframe {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.defaultgoldenbutton {
  display: flex;
  width: 96px;
  padding: 8px 16px;
  flex: 1 0 0;
  color: var(--SecondaryColor, #AD8E53);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid var(--SecondaryColor, #AD8E53);
  background: var(--BG2, rgba(242, 242, 242, 0.20));
}

#middleframeofmiddleframe1 {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.cardsofmiddleframe1 {
  display: flex;
  border: 1px solid var(--Color-2, #e2dfdf);
  width: 340px;
  flex-direction: column;
  border-radius: 12px 12px;
  align-items: flex-start;
  gap: -10px;
  background: var(--BG2, rgba(242, 242, 242, 0.20));
}

.topframeofcard {
  display: flex;
  padding: 12px 12px 24px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px 12px 0px 0px;
  background: #FCF5E8;
}

#textinsidetopframe {
  color: var(--Primarycolor, #282828);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.bottomframeofcard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--BG_color1, #FFF);
  box-shadow: 0px 19px 28px 0px rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(15px);
}

.insidebottomframeofcard1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.top1 {
  color: var(--SecondaryColor, #AD8E53);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.top2 {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.insidebottomframeofcard2 {
  display: flex;
  width: 171px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.percent {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.insidepercent {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.insidepercentbuttons {
  display: flex;
  width: 49px;
  padding: 2px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: var(--SecondaryColor, #AD8E53);
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
  align-self: stretch;
}

.insidebottomframeofcard3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

#leftcontainerofinsidebottomframeofcard3 {
  display: flex;
  width: 97px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

#textinsideleftcontainerofinsidebottomframeofcard3 {
  color: var(--SecondaryColor, #AD8E53);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  align-self: stretch;
}

.container1 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.25px;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--BG2, rgba(242, 242, 242, 0.20));
}

.blackbutton {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Primarycolor, #282828);
  flex: 1 0 0;
  color: var(--BG_color1, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

#contentslider {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

#mainframe4 {
  display: flex;
  /* width: 1240px; */
  padding: 72px 5vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

#headinginsidemainframe4 {
  color: var(--Primarycolor, #282828);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.25px;
}

.insidecontentofmainframe4 {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.cardsofmainframe4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

.headingofcard {
  color: var(--Primarycolor, #282828);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.25px;
}

.contentinsidecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid var(--Color-2, #B5B5B5);
  gap: 12px;
  align-self: stretch;
}

.insidecontentinsidecard1 {
  display: flex;
  height: 194px;
  padding: 34px 113.333px 34px 129px;
  /* justify-content: flex-end; */
  align-items: center;
  align-self: stretch;
  border-radius: 24px 24px 0px 0px;
  background: var(--Primarycolor, #282828);
}

.insidecontentinsidecard2 {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.insidecontentinsidecard3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.insidecontentinsidecard4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content1insidecard4 {
  color: var(--Primarycolor, #282828);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 180% */
  letter-spacing: 0.32px;
}

.content2insidecard4 {
  color: var(--light-typography-primary-sz-colour-typo-primary, var(--sz-colour-typo-primary, #282828));
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.16px;
}

.content3insidecard4 {
  color: var(--light-typography-secondary-sz-colour-typo-secondary, var(--sz-colour-typo-secondary, #6E6E6E));
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  align-self: stretch;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.32px;
}

.bottomdivformainframe4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#leftdivformainframe4 {
  display: flex;
  align-items: center;
}

#readmore {
  color: var(--Primarycolor, #282828);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.rightarrowdrop {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

#rightdivformainframe4 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.arrowleftline {
  border-radius: 100px;
  background: var(--Color-3, #FCF5E8);
  display: flex;
  /* padding: 8px; */
  align-items: center;
  gap: 10px;
}

.arrowrightline {
  border-radius: 100px;
  background: var(--Color-3, #FCF5E8);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
}

.OBJECTSIMAGE {
  width: 155px;
  height: 126px;
}

/* Media query for better responsiveness */
@media (max-width: 768px) {
  #mainframe2 {
    flex-direction: column;
    padding: 24px 20px;
  }

  .blackcards {
    flex: 1 0 100%;
    padding: 32px 24px;
  }
}

/* Mainframe 5 - Signup Form Section */
#mainframe5 {
  display: none;
  width: 100%;
  padding: 0px 5vw;
  justify-content: center;
  align-items: center;

}

.signup-container {
  width: 100%;
  /* max-width: 1200px; */
  padding: 40px;
  background-color: #282828;
  border-radius: 24px;
  background: var(--Primarycolor, #282828);
}

.signup-heading {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
  gap: 24px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

#belowcontainer1 {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.form-group label {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

.form-control {
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: Poppins;
  font-size: 16px;
  color: #282828;
}

.form-control::placeholder {
  color: rgba(40, 40, 40, 0.6);
}

.proceed-btn {
  align-self: center;
  margin-top: 16px;
  padding: 14px 48px;
  border-radius: 8px;
  background-color: #AD8E53;
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: #9a7f47;
}


/* Media query for responsive form */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 16px;
  }

  .signup-container {
    padding: 24px 16px;
  }

  .signup-heading {
    font-size: 24px;
    margin-bottom: 24px;
  }

  #mainframe5 {
    padding: 48px 5vw;
  }
}

/* Mainframe 6 - SIP Calculator */
#mainframe6 {
  /* display: flex; */
  display: none;
  width: 100%;
  padding: 72px 5vw;
  justify-content: center;
  align-items: center;
}

.sip-calculator-container {
  display: flex;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.sip-calculator-left {
  width: 50%;
  padding: 48px;
  background-color: #282828;
}

.sip-calculator-title {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 36px;
}

.sip-input-group {
  margin-bottom: 32px;
}

.sip-label {
  display: block;
  color: #AD8E53;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

.sip-range {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #AD8E53 0%, #AD8E53 50%, #4D4D4D 50%, #4D4D4D 100%);
  outline: none;
  border-radius: 2px;
}

.sip-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #AD8E53;
  cursor: pointer;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}

.range-values span {
  color: #999;
  font-family: Poppins;
  font-size: 12px;
}

.sip-input {
  width: 80px;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  background-color: #FFFFFF;
  font-family: Poppins;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  -moz-appearance: textfield;
  /* Firefox */
}

.calculate-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: #AD8E53;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.sip-calculator-right {
  width: 50%;
  padding: 48px;
  background-color: #FFF8ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donut-chart {
  width: 286px;
  height: 286.5px;
  border-radius: 50%;
  background: conic-gradient(#2D603E 0% 50%,
      #AD8E53 50% 70%,
      #282828 70% 100%);
  position: relative;
  margin-bottom: 40px;
}

.donut-inner {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #FFF8ED;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-value {
  color: #282828;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
}

.investment-results {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.result-item {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: var(--BG_color1, #FFF);
  gap: 12px;
  flex: 1 0 0;
}

.color-indicator {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  flex-shrink: 0;
}

.black-indicator {
  background-color: #282828;
}

.gold-indicator {
  background-color: #AD8E53;
}

.green-indicator {
  background-color: #2D603E;
}

.result-details {
  display: flex;
  flex-direction: column;
}

.result-title {
  color: #282828;
  font-family: Poppins;
  font-size: 14px;
  margin-bottom: 4px;
}

.maincontainerofnav1 {
  display: none;
  width: 702px;
  height: 220px;
  /* Initially hidden */
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  width: 702px;
  padding: 24px;
  border-radius: 16px;
  background: #282828;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}



.navbar-lists:hover .maincontainerofnav1 {
  display: block;
  width: 702px;
  height: 220px;
  /* Show on hover */
}

.navbar-lists:hover .maincontainerofnav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 555px;
  height: 220px;
  /* Show on hover */
}


.ourfundstext {
  color: var(--Primary-Text, #FFF);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.iconsset1 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.textinsidenav1rightside {
  color: var(--Text_secondary, #B7B7B7);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boxes2 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.container1ofnav1rightside {
  display: flex;
  width: 186px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.heading1 {
  color: var(--Primary-Text, #FFF);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rightsideofnav1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.maincontainerofnav1::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  width: 702px;
  height: 220px;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #282828;
}


.maincontainerofnav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  width: 555px;
  height: 220px;
  /* Initially hidden */
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  width: 555px;
  padding: 24px;
  border-radius: 16px;
  background: #282828;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
}

/* Update existing dropdown styles */
.boxes {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.maincontainerofnav2 {
  display: none;
  position: absolute;
  width: 555px;
  height: 220px;
  border-radius: 16px;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #282828;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(8px);
}

#firsttext {
  color: var(--Text_secondary, #B7B7B7);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#secondtext {
  color: var(--SecondaryColor, #AD8E53);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#ourmutualfundtext {
  color: var(--Primarycolor, #282828);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}

.othertext {
  flex: 1 0 0;
  color: var(--Primarycolor, #282828);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#toptextdiv {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: var(--Color-3, #FCF5E8);
}

#insidetextfortoptextdiv {
  color: #000;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#belowtext {
  color: #000;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  /* 116.667% */
}

#leaderstext {
  color: var(--SecondaryColor, #AD8E53);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 100% */
  width: 98px;
}

.cardsfortheleaders {
  display: flex;
  min-width: 292px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: 24px;
  background: var(--Primarycolor, #282828);
}


.scroll-container {
  position: relative;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0.5) 105%,
      rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0.5) 105%,
      rgba(0, 0, 0, 0) 100%);
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}


.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}




#rightscrolldiv {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--BG_color1, #FFF);
}

#trustee {
  color: var(--SecondaryColor, #AD8E53);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 98px;
  /* 100% */
}

#trusteediv {
  display: flex;
  width: 1440px;
  padding: 72px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: var(--Color-3, #FCF5E8);
}

#rightscrolldiv:hover {
  background: var(--Color-3, #FCF5E8);
  cursor: pointer;
}

#frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.firstcontainerofnav2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
}

.topofframe1 {
  color: var(--Primary-Text, #FFF);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#headingofnav2 {
  color: var(--SecondaryColor, #AD8E53);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

.leftsideecontainerofnav2 {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.trusteecard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 24px;
  background: var(--BG_color1, #FFF);
}

#topoftrusteecard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 24px 24px 0px 0px;
}

#imagedivfortrustee {
  display: flex;
  padding: 4px 0px 0px 9px;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  border-radius: 100px;
  background: var(--Primarycolor, #282828);
}

.trusteeimage {
  z-index: 50;
  object-fit: cover;
  /* width: 80px; */
  height: 120.726px;
  aspect-ratio: 102.00/128.73;
}

#topofbottomoftrusteecard {
  display: flex;
  width: 123px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

#bottomofbottomoftrusteecard {
  color: var(--Grey_Color, #666);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

#readmore2 {
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

#bottomoftrusteecard2 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 24px 24px;
  background: var(--SecondaryColor, #AD8E53);
}

#nameoftrustee {
  color: var(--Primarycolor, #282828);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  align-self: stretch;
}

#topoftrusteecardfordirector {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 24px 24px 0px 0px;
  background-color: #FCF5E8;
}

#ciotext {
  width: 98px;
  color: var(--SecondaryColor, #AD8E53);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 100% */
}

.ciocard {
  display: flex;
  width: 608px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  border: 1px solid var(--SecondaryColor, #AD8E53);
  background: var(--BG_color1, #FFF);
}

#topofciocard {
  display: flex;
  padding: 48px 48px 24px 48px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 24px 24px 0px 0px;
}

#bottomofciocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

#topofbottomofciocard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

#nameofciotrustee {
  color: var(--Primarycolor, #282828);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  align-self: stretch;
}


#positionofciotrustee {
  color: var(--Primarycolor, #282828);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  align-self: stretch;
}


#bottomofbottomofciocard {
  color: var(--Grey_Color, #666);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  align-self: stretch;
}


#ciodiv {
  display: flex;
  width: 1440px;
  padding: 72px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}


#sponsorsdiv {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.sponsorscard {
  display: flex;
  width: 608px;
  padding: 72px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: 24px;
  background: var(--BG_color, #282828);
}


#frameforlayer0 {
  display: flex;
  width: 559px;
  align-items: flex-start;
  gap: 32px;
  overflow: hidden;
}

#mapimage {
  border-radius: 24px;
  background: #FFF;
  height: 469px;
  width: 50%;
  flex: 1 0 0;
  aspect-ratio: 1033.39/535.00;
}

#addresssection {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--BG_color1, #FFF);
}

.frameforaddresssection {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

#imageforaddresssection {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Color-3, #FCF5E8);
}

#rightsectionofmapdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

#headingofrightsection {
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  align-self: stretch;
}

#textforrightsection1 {
  color: var(--Text_secondary, #B7B7B7);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

#selectcityandstate {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

#state_label {
  display: flex;
  align-items: center;
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.24px;
  gap: 4px;
  align-self: stretch;
}

#inputtextcontainer {
  display: flex;
  padding: 4px 0px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

#inputtext {
  color: var(--Color-2, #B5B5B5);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.24px;
  flex: 1 0 0;
}

#trailing_box {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

#selectforstate {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--sz-colour-stroke-sz-colour-stroke-default, #E2E2E2);
  background: var(--sz-colour-surface-sz-colour-surface-primary, #FFF);
}

#statediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

#headingofrightsectiondiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

#mapssection {
  display: flex;
  width: 1440px;
  padding: 72px 100px;
  align-items: flex-start;
  gap: 48px;
  background: var(--BG_color, #282828);
}

.chip {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: var(--Color-3, #FCF5E8);
  color: #000;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 110px;
}

.bottomsectionofsponsorscard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}


.bottombottomsectionofsponsorscard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

#headofbottomsectionofsponsorscard {
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  /* 175% */
  width: 316px;
}

#othertextforsponsorscard {
  color: var(--Text_secondary, #B7B7B7);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

#layer0 {
  display: flex;
  padding: 8.229px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.857px;
  min-width: 124.526px;
  height: 79.125px;
  flex-shrink: 0;
  border-radius: 8.229px;
  background: #FFF;
}

#bottomofciocard2 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 24px 24px;
  background: var(--SecondaryColor, #AD8E53);
}

#textfortopofciocard {
  color: var(--SecondaryColor, #AD8E53);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  align-self: stretch;
  line-height: normal;
}


#directordiv {
  background: var(--BG_color1, #FFF);
}

#positionoftrustee {
  color: var(--Primarycolor, #282828);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  align-self: stretch;
}

#bottomoftrusteecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.bottomofframe1 {
  color: var(--Text_secondary, #B7B7B7);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardimage {
  height: 307.933px;
  align-self: stretch;
  aspect-ratio: 244.00/307.93;
}

#belowcontainerofnav2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.bottomframe1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.leftsideofbottomframe1 {
  display: flex;
  align-items: center;
}

#readpreview {
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

#rightarrow2 {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.textinsidenav2 {
  color: var(--Text_secondary, #B7B7B7);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



#rightsideofbottomframe1 {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Color-3, #FCF5E8);
}





.rightsidecontainerofnav2 {
  width: 279px;
  height: 150px;
  border-radius: 12px;
  background: #474646;
}

.iconsset3 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.boxes3 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.leftsidecontainerofnav2 {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.boxes:hover .equity-link {
  color: #AD8E53;
}

/* Make entire box clickable */
.boxes {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#addicon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

#mainframe7 {
  display: none;
  /* width: 1240px; */
  margin: 0px 5vw;
  border-radius: 24px;
  background: var(--SecondaryColor, #AD8E53);
  padding: 72px 5vw;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.headinginsidemainframe7 {
  color: var(--Primary-Text, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.25px;
}

.contentinsidemainframe7 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socialmediaicons {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--BG_color1, #FFF);
}

.socialmediaicon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.boxestext {
  position: relative;
  /* Make it clickable */
  z-index: 2;
  /* Ensure it's above other elements */
  cursor: pointer;
  color: var(--Text_secondary, #B7B7B7);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  pointer-events: auto;
}

.boxes {
  pointer-events: auto;
}

.boxes:hover .boxestext {
  color: #AD8E53;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .sip-calculator-container {
    flex-direction: column;
  }

  .sip-calculator-left,
  .sip-calculator-right {
    width: 100%;
  }
}

@media (max-width: 576px) {

  .sip-calculator-left,
  .sip-calculator-right {
    padding: 32px 24px;
  }
}

/* Mainframe 8 - Footer */
#mainframe8 {
  background-color: #282828;
  padding: 48px 5vw 24px;
  color: #fff;
  margin-top: 72px;
  font-family: Poppins;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
}

.mainframeoffootercolumn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.logo-column {
  flex: 1.5;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-logo-img {
  width: 48px;
  height: 48px;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
}

.company-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.company-subtitle {
  color: #AD8E53;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.footer-column h3 {
  color: #AD8E53;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #B7B7B7;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.copyright-bar {
  margin-top: 48px;
  padding-top: 24px;
  border-top: 1px solid rgba(183, 183, 183, 0.3);
  text-align: left;
  color: #B7B7B7;
  font-size: 14px;
}

#navdropdown {
  width: 279;
  height: 150;
  border-radius: 12px;

}

/* Media query for responsive footer */
@media (max-width: 992px) {
  .footer-container {
    gap: 30px;
  }

  .footer-column {
    min-width: calc(50% - 30px);
  }

  .logo-column {
    min-width: 100%;
  }
}

@media (max-width: 576px) {
  .footer-column {
    min-width: 100%;
  }

  .footer-container {
    gap: 24px;
  }

  #mainframe8 {
    padding: 36px 5vw 20px;
  }
}

#textforaddresssection {
  color: var(--Primarycolor, #282828);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

/* Add smooth transitions */
.navbar-list,
.dropdown-menu-item,
.goldenbutton,
.blackbutton,
.defaultgoldenbutton {
  transition: all 0.3s ease;
}

.navbar-list:hover,
.dropdown-menu-item:hover {
  transform: translateY(-2px);
}

.goldenbutton:hover,
.blackbutton:hover,
.defaultgoldenbutton:hover {
  transform: scale(1.05);
}

/* Add hover effect to cards */
.blackcards,
.cardsofmiddleframe1,
.cardsofmainframe4 {
  transition: transform 0.3s ease-in-out;
}

.blackcards:hover,
.cardsofmiddleframe1:hover,
.cardsofmainframe4:hover {
  transform: translateY(-10px);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Animation helper classes */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Smooth transitions for interactive elements */
.navbar {
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-back {
  display: flex;
  width: 292px;
  height: 547px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: 24px;
  background: var(--SecondaryColor, #AD8E53);
}

#insidecardback {
  display: flex;
  height: 499px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  align-self: stretch;
}

#topofinsidecardback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

#toptext {
  color: var(--Primary-Text, #FFF);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#bottomtext {
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#textforinsidecardback {
  color: var(--Primary-Text, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

#hamburgericon {
  display: none;
}

.navbarforphone {
  display: none;
}


@media screen and (max-width: 768px) {
  /* Update your existing media query */

  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }

    #hamburgericon {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
    }

    #container3 {
      display: none;
    }

    /* Add these styles for the logo image */
    #container1 img {
      width: 42px;
      /* Increase width */
      height: auto;
      /* Maintain aspect ratio */
      margin: 4px 0;
      /* Add some margin */
    }

    /* Adjust container1 dimensions */
    #container1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #rightsideofthenavbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
    }

    .Navbarbuttons {
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: var(--BG_color, #282828);
    }

    .navbar {
      display: none;
    }

    #button1 {
      color: var(--Primary-Text, #FFF);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    #insideNavbar1 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    #mainframe1 {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding: 24px;
      /* padding: 0px; */
      gap: 24px;
    }

    #header1 {
      color: #282828;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    #contentinsideleftframe1 {
      color: var(--SecondaryColor, #AD8E53);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      align-self: stretch;
      line-height: normal;
    }

    #leftframe {
      display: flex;
      width: 328px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    #rightframe {
      height: 350.336px;
      align-self: stretch;
      display: flex;
      align-items: center;
      /* justify-items: center; */
      justify-content: center;
    }

    #rightframe img {
      width: 158.329px;
      height: 332.819px;
      flex-shrink: 0;
    }

    .insideparallaxContainer1 {
      display: flex;
      flex-direction: column;
    }

    .rightsideofparallaxContainer1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      align-self: stretch;
      width: 100%;
    }

    #downarrow {
      display: none;
    }

    #topframe {
      display: none;
    }

    .iconbuttons {
      display: none;
    }

    #middleframe1 {
      width: 100%;
    }

    #middleframeofmiddleframe1 {
      overflow: scroll;
    }

    .insidecontentofmainframe4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }

    #headinginsidemainframe4 {
      color: var(--Primarycolor, #282828);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.25px;
    }

    .headingofcard {
      color: var(--Primarycolor, #282828);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.25px;
    }

    .mainframeoffootercolumn {
      flex-direction: column;
      width: 100%;
    }

    .navbarforphone {
      flex-direction: column;
      flex-shrink: 0;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      width: 360px;
      height: 56px;
      padding: 12px 30px;
      display: flex;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    #insideNavbarforphone {
      display: flex;
      width: 328px;
      justify-content: space-between;
      align-items: center;
    }

    #rightsideofnavbarforphone {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
    }

    #leftsideofnavbarforphone {
      width: auto;
    }

    #distributorbutton {
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: var(--BG_color, #282828);
      color: var(--Primary-Text, #FFF);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    #mainframe1forleadership {
      width: 100%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    #mainframe1forleadership img {
      width: auto;
      height: 200px;
      max-width: 100%;
      aspect-ratio: 1/1;
    }

    #mainframe2forleadership {
      width: 100%;
      top: 900px;
    }

    #mainframe3forleadership {
      width: 100%;
      padding: 24px;
      top: 1900px;
    }

    #textdivforleadership {
      width: 100%;
    }

    #directordiv {
      width: 100%;
      padding: 24px;
      top: 2800px;
    }

    #trusteediv {
      top: 3300px;
      padding: 24px;
      width: 100%;
    }

    #directorscards {
      width: 100%;
      overflow: scroll;
    }

    .trusteecard {
      min-width: 100%;
    }

    #rightscrolldiv {
      display: none;
    }

    #scrollablediv {
      width: 100%;
      overflow: scroll;
    }

    .cardsfortheleaders {
      min-width: 100%;
    }

    #ciodiv {
      top: 3900px;
      width: 100%;
      padding: 24px;
    }

    #sponsorsdiv {
      width: 100%;
      overflow: scroll;
      top: 4600px;
      padding: 24px;
      /* flex-direction: column; */
    }

    .sponsorscard {
      min-width: 100%;
    }

    #headofbottomsectionofsponsorscard {
      font-size: 16px;
      line-height: 24px;
    }

    #mapssection {
      width: 100%;
      display: flex;
      flex-direction: column;
      top: 5450px;
      padding: 24px;
      height: 122vh;
    }

    #mapimage {
      width: 100%;
      height: auto;
      aspect-ratio: 1033.39/535.00;
    }

    #selectcityandstate {
      flex-direction: column;
    }

    #statediv {
      width: 100%;
    }

    .sponsorscard {
      width: 100%;
    }

    #ciocards {
      width: 100%;
      overflow: scroll;
    }

    .ciocard {
      min-width: 100%;
    }

    #trusteescards {
      width: 100%;
      overflow: scroll;
    }

    .trusteecard {
      min-width: 100%;
    }

    #mainframe8 {
      width: 100%;
      top: 6200px;
      padding: 24px;
    }

    .footer-container {
      flex-direction: column;
      width: 100%;
    }
  }
}